<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Content">
    <h2>{f:translate(key: 'form_show_header')}</h2>
    <p>{f:translate(key: 'form_show_text')}</p>

    <f:form.validationResults>
        <f:if condition="{validationResults.flattenedErrors}">
            <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                <f:for each="{errors}" as="error">
                    <f:translate id="form_show_error_{propertyPath}_{error.code}"/>
                </f:for>
            </f:for>
        </f:if>
    </f:form.validationResults>
    <f:form action="create">

        <div class="signup-fields">
            <f:for each="{fields}" as="field">
                <f:switch expression="{field.type}">
                    <f:case value="date">
                        <label for="{field.id}" class="sr-only">{field.label}</label>
                        <f:form.textfield type="date" id="{field.id}" name="{field.name}[date]"
                                          additionalAttributes="{field.additionalAttributes}"
                                          required="{field.required}"/>
                        <f:form.hidden name="{field.name}[format]" value="{field.format}"/>
                    </f:case>
                    <f:case value="input">
                        <label for="{field.id}" class="sr-only">{field.label}</label>
                        <f:form.textfield type="{field.input_type}" id="{field.id}" name="{field.name}"
                                          additionalAttributes="{field.additionalAttributes}"
                                          required="{field.required}"/>
                    </f:case>
                </f:switch>
            </f:for>
        </div>

        <f:form.submit value="{f:translate(key: 'form_show_submit')}"/>
    </f:form>
</f:section>

</html>
